.App {
  text-align: center;
  display: flex;
  border: 1px solid black;
  margin: 50px;
  padding: 30px;
}

.product-list, .cart {
  flex: 1;
  border: 1px solid black;
  padding: 15px;
  min-height: 600px;
}

.product-item-content-container, .cart-item-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 25px;
}

.product-name, .cart-item-name {
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
}
.product-amount, .cart-item-amount {
  width: 35px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}

.product-add-btn, .cart-item-delete-btn {
  height: 35px;
  width: 60px;
  font-size: 16px;
  font-weight: 500;
}

.cart {
  display: flex;
  flex-direction: column;
}

.total-amount {
  margin-top: auto;
  padding: 18px;
}